In [ ]:
from google.colab import files
uploaded = files.upload()

Saving dati.xlsx to dati.xlsx

In [ ]:
!ls

dati.xlsx  sample_data

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('dati.xlsx')

In [4]:
data.head()

,var1,var2,var6,var7,var8,var9,var10,var11,var12,var13,...,var150,var151,var152,var153,var154,var155,var156,var157,var158,costi
0,147823139,148193655,51344312,61401789,71387976,23064675,20882011,14244395,2794279,2677799,...,229,214,207,84978,318158,318158,25290616,24108358,24535319,144205134
1,147562322,163251010,1037776,1391301,1602930,23503659,22973259,20946238,13368527,12404318,...,454,411,456,1583,1583,1588,14133394,10404117,12898505,140165127
2,147562000,142652000,737000,707000,745000,51250000,51604000,50992000,23900000,25404000,...,116,165,168,1801000,1761000,1171000,31861000,22494000,24687000,145190000
3,147067625,140160124,39316,5715,8015,5258584,5491288,5735791,4183889,4354175,...,60,60,65,890646,0,0,1000000,0,1188439,112760368
4,145273739,127413305,6571906,3613836,3218188,65670888,56917531,51856050,20251827,20965972,...,171,141,132,0,0,0,27325115,24037285,24492237,171980718

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7479 entries, 0 to 7478
Columns: 135 entries, var1 to costi
dtypes: int64(135)
memory usage: 7.7 MB

In [6]:
data.describe()

,var1,var2,var6,var7,var8,var9,var10,var11,var12,var13,...,var150,var151,var152,var153,var154,var155,var156,var157,var158,costi
count,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,...,7479.000000,7479.000000,7479.000000,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03,7.479000e+03
mean,7.450131e+06,6.995936e+06,3.377709e+05,2.954539e+05,2.374321e+05,2.080609e+06,1.977554e+06,1.866474e+06,9.678114e+05,9.397979e+05,...,21.127958,20.665062,19.299773,6.772403e+04,6.175881e+04,6.265347e+04,1.076427e+06,9.915747e+05,9.137636e+05,7.633431e+06
std,1.646081e+07,1.588951e+07,6.690769e+06,5.441119e+06,2.622168e+06,5.869370e+06,5.642296e+06,5.481200e+06,3.769399e+06,3.708256e+06,...,46.321574,46.255558,44.001820,4.963626e+05,4.301135e+05,3.964864e+05,4.537630e+06,3.720963e+06,3.141080e+06,1.683081e+07
min,4.150000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.184700e+05,4.002950e+05,6.975000e+02,7.300000e+02,3.775000e+02,6.432050e+04,5.949900e+04,3.985650e+04,0.000000e+00,0.000000e+00,...,4.000000,4.000000,3.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.438740e+05
50%,1.695363e+06,1.533985e+06,1.381500e+04,1.238800e+04,9.955000e+03,3.347110e+05,3.155580e+05,2.630320e+05,0.000000e+00,0.000000e+00,...,10.000000,9.000000,9.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.145440e+05,1.071490e+05,8.262500e+04,1.760361e+06
75%,6.050798e+06,5.594102e+06,8.305000e+04,7.726200e+04,6.841050e+04,1.514472e+06,1.470158e+06,1.357036e+06,1.525510e+05,1.505230e+05,...,20.000000,20.000000,19.000000,3.167000e+03,3.810500e+03,4.782000e+03,6.487320e+05,6.149110e+05,5.736580e+05,6.073618e+06
max,1.478231e+08,1.954054e+08,3.949990e+08,4.236760e+08,1.218370e+08,1.822085e+08,1.819357e+08,1.819572e+08,1.814344e+08,1.814863e+08,...,1384.000000,1307.000000,1244.000000,1.943005e+07,1.777804e+07,1.662483e+07,2.025610e+08,1.872810e+08,1.169022e+08,1.754113e+08

In [12]:
X = data.iloc[:,0:-1] # Features

y = data.iloc[:,-1]     # Target
#or
y = data['costi']

In [8]:
X.shape

(7479, 134)

In [9]:
y.shape

(7479,)

In [13]:
# Split the data into a training set and a test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5235, 134) (2244, 134) (5235,) (2244,)

In [16]:
from sklearn.linear_model import LinearRegression